.btn {
    min-width: 150px;
    padding: 10px 6px;
    border-radius: 20px;
    border: 1px solid var(--color-blue);
    background-color:transparent;
    color: var(--color-blue);
    cursor: pointer;
}
.btn-primary{
    background-color: var(--color-blue);
    color: white;
}
.tag{
    padding: 20px 24px;
    border-radius: 20px;
    background-color: var(--color-gray-light);
    color: var(--color-gray);
    font-weight: bold;
    font-size: 21px;
}