body {

}
.site {
    max-width: 50em;
    margin: auto;
}
table {
    border: 1px solid #ccc;
    width: 100%;
    border-spacing: 0.5em;
margin-bottom: 1.5em;
}
table td, table th {
    border: 1px solid rosybrown;
    padding: 0.3em 0,6em;
    
}
table td {
    font-weight: bold;
    text-align: right;
}
table th {
    font-weight: bold;
    text-align: left;
    background: black;
    color: white;
}
/* задава различен цвят на редивете */
table tbody tr:nth-child(even) th {
    background: rosybrown;
}
