body {
    background: gold;
    margin: 0;
    font-family: sans-serif;
}
p {
   font-style: italic;
   font-size: 50px;
}
/* header > p {
    font-style: italic;
}
article > p {
    font-size: 50px;
} */
nav {
    background: #234465;
    margin: 0;
    padding: 10px;
    /* width: 80%;
    margin: 0 auto; */
}
nav li a {
    padding: 0 20px;
    color: white ;
    text-decoration: none;
}
a[title="menu"] {
    text-decoration: none;
    color: yellow;
    font-size: large;
    font-family: 'Franklin Gothic Medium';
}
aside {
 position: absolute;
}
table, td, th {
    border: 1px solid #234465;
}
span {
    background: darkblue;
    color: #ffffff;
}
#f {
    background: red;
    color: #ffffff;
}
span.g {
    background: #234465;
}
.code {
    background: #50fd00;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
input[type="submit"] {
color: white;
background: #234465;
letter-spacing: 2px;
text-transform: uppercase;
padding: 10px;
/* margin: 10px; */
border: 1px solid #00ff15;
}
button {
    border-radius: 5px;
    cursor: pointer;
}